.footer {
  background-color: #b9b9b9;
  text-align: center;
  padding: 40px 0;
  font-size: 1.5em;
}

.footer .github-link {
  color: black;
}

.footer div p {
  color: #383838;
  padding: 15px;
  display: inline;
  cursor: pointer;
}

.footer img {
  cursor: pointer;
}
