.logo {
  font-size: 10em;
  font-weight: 900;
  color: #6c6c6c;
  margin: 10px;
}

.burger {
  animation: fadeIn ease 1s;
}

.header {
  display: flex;
  align-items: flex-start;
  z-index: 1000;
  position: absolute;
}

.menu {
  position: fixed;
  right: 0;
  /* padding: 20px 20px 0 0; */
  padding: 0 !important;
  margin: 0 !important;
  padding-right: 15px !important;
  margin-top: -7.5px;
  list-style-type: none;
  font-size: 2em;
  text-align: right;
}

.menu li {
  margin-bottom: 10px;
  cursor: pointer;
  color: #6c6c6c;
  padding: 5px;
}

.menu p {
  margin: 0;
}

.menu .inactive {
  opacity: 0;
  animation: fadeOut ease 0.4s;
}

.menu .hidden {
  opacity: 0;
}

.menu .active {
  background-color: #f0f0f0;
  animation: fadeIn ease 0.4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (max-device-width: 700px) {
  .active {
    box-shadow: 18px 9px 29px -13px rgba(0, 0, 0, 0.56);
    border: 1px rgb(207, 207, 207) solid;
  }

  .menu {
    font-size: 2.5em;
    padding: 20px 20px 0 0;
    margin-right: 10px;
    margin-top: 3px;
  }

  .logo {
    font-size: 6em;
  }
}
