.welcome h1 {
  font-size: 6em;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 75px;
  font-weight: normal;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110vh;
  position: relative;
  z-index: 1;
}

.welcome-text {
  font-size: 2em;
  margin-bottom: calc(100px + 10%);
}

.welcome img {
  cursor: pointer;
}

.welcome img:hover {
  animation: bounce 0.75s ease;
}

.welcome .about {
  font-size: 2em;
  color: #595959;
  margin-bottom: 0;
  cursor: pointer;
}

.welcome div {
  text-align: center;
}

@keyframes bounce {
  50% {
    transform: translateY(10px);
  }
}

@media only screen and (max-device-width: 700px) {
  .welcome .about {
    display: none;
  }

  .welcome img {
    display: none;
  }
  .welcome h1 {
    font-size: 5em;
  }
}
