body {
	margin: 0;
	font-family: 'Lato', sans-serif;
	background-color: #2e2e2e;
	color: white;
	word-spacing: 4px;
}

header {
	background-color: #1b1b1b;
	clear:both;
	overflow: auto;
}

#burger {
	display: none
}

.navbar {
	padding-left: 20px;
}

ul {
	list-style-type: none;
}

nav {
	margin-right: 10%;
	float: right;
}

nav li {
	display: inline-block;
}

nav li a {
	color: white;
	margin: 15px;
	margin-left: 80px;
	text-decoration: none;
	font-size: 26px;
	text-align: center;
	display: block;
}

nav li a:hover {
	color: #a8a8a8;
}

header h1 {
	display: inline-block;
	color: white;
	font-size: 55px;
	margin: 10px;
	margin-left: 50px;
}

footer {
	background-color: #1b1b1b;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 30px;
	font-size: 20px;
}


.button {
	color: white;
	text-decoration: none;
	padding: 5px;
	margin: 10px;
	border: 1px solid white;
	border-radius: 4px;
	display: inline-block;
	cursor: pointer;
}

#footer-ul li {
	display: inline;
	padding: 10px;
}

.footer-link {
	text-decoration: none;
	color: #4e4e4e;
}

.footer-link:hover {
	color: #888888;
}

/* home.html */

.page-body {
	text-align: left;
	padding-bottom: 100px;
	width: 80%;
	margin: auto;
}

#title {
	font-size: 80px;
	margin-top: 100px; 
}

#description {
	font-size: 25px;
	width: 60%;
}

.page-body .button {
	font-size: 35px;
	border-radius: 10px;
	padding: 10px;
	border: 2px solid white;
	text-align: center;
	margin-top: 40px;
	margin-right: 30px;
	overflow: auto;
	
}

.page-body .button:hover {
	box-shadow: 0px 0px 37px -7px rgba(0,0,0,0.75);
}


/* about_me.html */
.title {
	font-size: 60px;
}

p {
	font-size: 20px;
}

#skill-description {
	font-size: 30px;
}

li {
	margin: 0;
	padding: 0;
}

h2 {
	margin-top: 60px;
	margin-bottom: 0;
	font-size: 40px;
}

#skills {
	text-align: center;
}

#categories {
	padding: 0;
}

#categories > li {
	display: inline-block;
}

#categories ul {
	padding: 25px;
	padding-top: 5px;
}

h3 {
	font-size: 24px;
}

.skill {
	font-size: 24px;
}

.skill-title {
	font-size: 33px;
}

/* contact.html */

#contact-description {
	font-size: 30px;
	text-align: center;
	font-weight: 400;
}

#email {
	text-align: center;
}

/* projects.html */
.project {
	width: 55%;
	border: white 2px solid;
	border-radius: 15px;

	margin: 10px;
	margin-top: 40px;

	padding: 20px;
}

.projects-title {
	margin-top: 50px;
	margin-bottom: 60px;
	font-size: 75px;
}

.project-image {
	width: 50%;
}

.project .button {
	margin-right: 10px;
}

.project-title {
	margin-top: 10px;
}

.project-description {
	font-size: 22px;
}

/* ---- Responsive ---- */

@media screen and (max-width: 1300px) {
	nav {
		margin-right: 5%;
	}

	nav li a {
		margin: 10px;
		margin-left: 60px;
		font-size: 24px;
	}

	header h1 {
		font-size: 40px;
		margin-top: 16px;
		margin-left: 35px;
	}
}

@media screen and (max-width: 1000px) {
	
	nav {
		margin-right: 2%;
	}

	nav li a {
		margin: 8px;
		margin-left: 35px;
		font-size: 22px;
	}

	header h1 {
		font-size: 30px;
		margin-top: 18px;
		margin-left: 20px;
	}
}

@media only screen and (max-width: 767px) {
	#burger {
		float: right;
		display: block;
		margin-top: 10px;
		margin-right: 15px;

	}

	.navbar {
		display: none;
	}

	header h1 {
		font-size: 35px;
		margin-top: 18px;
		margin-left: 20px;
	}

	.active {
		margin: 0;
        float: none;
        position: fixed;
        display: block;
        background: #161616;
        width: 50%;
        left: 0;
        top: 0;
		height: 100%;
		padding-top: 60px;
	}

	nav li {
		white-space:nowrap;
		overflow: hidden;
		min-width: 100%;
	}

	nav li a {
		margin: 10px;
		margin-left: 15px;
		margin-top: 40px;
		font-size: 26px;
		text-align: left;
	}

	nav {
		display: block;
	}

	body {
		padding-top: 40px;
	}

	header {
		position: fixed;
		top: 0;
		width: 100%;
	}

	#footer-ul {
		display: none;
	}

	.page-body {
		width: 90%;
	}

	.title {
		margin-top: 65px;
	}

}

/* home.html */
@media only screen and (max-width: 900px) {

	body {
		padding-top: 10px;
	}

	#title {
		font-size: 65px;
	}

	#description {
		width: 75%;
		margin-bottom: 0;
	}

	@media only screen and (max-width: 767px) {
		#title {
			font-size: 42px;
		}

		#description {
			width: 80%;
			font-size: 20px;
		}

		.small-button {
			font-size: 20px !important;
			margin-right: 8px !important;
		}
	}

}


/* about_me.html */

@media only screen and (max-width: 767px) {

	#skill-description {
		font-size: 26px;
	}

	#categories li {
		display: block;
	}

	#skills-title {
		font-size: 60px;
	}

	#skills-description {
		font-size: 30px;
	}
}

/* contact.html */

/* projects.html */

@media screen and (max-width: 1000px) {
	.project {
		width: 80%;
	}
}

@media screen and (max-width: 767px) {
	.project {
		width: 85%;
		margin: auto;
		margin-bottom: 40px;
	}

	.project img {
		width: 80%;
		margin-left: 10%;
	}

	.project-title{
		font-size: 35px;
	}

	.project-description{
		font-size: 20px;
	}
}


/* large screen */

@media screen and (min-width: 2550px) {

	nav {
		margin-right: 15%;
	}

	nav li a {
		margin: 30px;
		margin-left: 160px;
		font-size: 40px;
	}

	h1 {
		font-size: 100px !important;
	}

	footer {
		font-size: 35px !important;
	}

	p, h2, h3, a{
		font-size: 40px !important;
	}

}