body {
	margin: 0;
	font-family: 'Lato', sans-serif;
	background-color: #2e2e2e;
	color: white;
	word-spacing: 4px;
}

header {
	background-color: #1b1b1b;
	clear:both;
	overflow: auto;
}

ul {
	list-style-type: none;
}

nav {
	margin-right: 10%;
	float: right;
}

nav li {
	display: inline-block;
}

nav li a {
	color: white;
	margin: 15px;
	margin-left: 90px;
	text-decoration: none;
	font-size: 28px;
	text-align: center;
	display: block;
}

nav li a:hover {
	color: #a8a8a8;
}

header h1 {
	display: inline-block;
	color: white;
	font-size: 55px;
	margin: 10px;
	margin-left: 50px;
}

footer {
	background-color: #1b1b1b;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 30px;
	font-size: 20px;
}


.button {
	color: white;
	text-decoration: none;
	padding: 5px;
	margin: 10px;
	border: 1px solid white;
	border-radius: 4px;
	display: inline-block;
	cursor: pointer;
}

#footer-ul li {
	display: inline;
	padding: 10px;
}

.footer-link {
	text-decoration: none;
	color: #4e4e4e;
}

.footer-link:hover {
	color: #888888;
}

/* home.html */

.page-body {
	text-align: left;
	padding-bottom: 100px;
	width: 80%;
	margin: auto;
}

#title {
	font-size: 80px;
	margin-top: 100px; 
}

#description {
	font-size: 25px;
}

.page-body .button {
	font-size: 35px;
	border-radius: 10px;
	padding: 10px;
	border: 2px solid white;
	text-align: center;
	margin-top: 40px;
	margin-right: 30px;
	overflow: auto;
	
}

.page-body .button:hover {
	box-shadow: 0px 0px 37px -7px rgba(0,0,0,0.75);
}


/* about_me.html */
.title {
	font-size: 60px;
}

p {
	font-size: 20px;
}

#skill-description {
	font-size: 30px;
}

li {
	margin: 0;
	padding: 0;
}

h2 {
	margin-top: 60px;
	margin-bottom: 0;
	font-size: 40px;
}

#skills {
	text-align: center;
}

#categories {
	padding: 0;
}

#categories > li {
	display: inline-block;
}

#categories ul {
	padding: 25px;
	padding-top: 5px;
}

h3 {
	font-size: 24px;
}

/* contact.html */

#contact-description {
	font-size: 30px;
	text-align: center;
	font-weight: 400;
}

#email {
	text-align: center;
}