<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Planet Generator</title>
	{% load static %}
	<link rel="stylesheet" href="{% static "planet generator/style.css" %}">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap" rel="stylesheet">
</head>
<body>
	<h1>Planet Generator</h1>
	<h2>Generate a whole planet just from the name</h2>
	<input type="text" name="planet name" id="planetNameInput"><button id="planetNameBtn">Show Planet</button> <br><br>
	<canvas id="planet" width="400" height="400" style="border:1px solid #000000; border-radius: 400px;"></canvas>
	<div id="infoArea"></div>
	{% load static %}
	<script src="{% static "planet generator/script.js" %}"></script>
</body>
</html>
