body {
	text-align: center;
	font-family: 'Noto Sans HK', sans-serif;
	background-image: url("background.png");
	background-position: center;
}

h1 {
	color: white;
	margin: 0;
	font-size: 72px;
}

h2 {
	margin-top: 0;
	margin-bottom: 20px;
	color: white;
	margin-bottom: 50px;
	font-style: italic;
}

h3 {
	margin-bottom: 0;
}

p {
	margin-top: 2px;
}

#planetTitle {
	font-size: 36px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#infoArea {
	background: white;
	text-align: left;
	border: 2px black solid;
	width: 30%;
	display: block;
	margin: auto;
	margin-top: 10px;
	padding: 10px;
	border-radius: 6px;
}

#planetNameBtn {
	background: white;
	text-align: center;
	border: none;
	margin-left: 10px;
	height: 32px;
	border-radius: 5px;
}

#planetNameInput {
	height: 32px;
}