<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="description" content="Need something to cook? Use this website to browse random recipes.">
	{% load static %}
	<link rel="stylesheet" href="{% static "random recipes/main.css" %}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
	<title>Random Recipes</title>
</head>
<body onload="makeRecipeArray()">
	{% load static %}
	<img src="{% static "random recipes/img/logo.png" %}" alt="logo" id="logo">
	
	<div id="recipe-container">
		<div readonly name="recipe" cols="30" rows="10"  id="recipeArea"></div>
		{% load static %}
		<input type="image" src="{% static "random recipes/img/arrow_left.svg" %}" id="left">
		{% load static %}
		<input type="image" src="{% static "random recipes/img/arrow_right.svg" %}" id="right">
		{% load static %}
		<input type="image" src="{% static "random recipes/img/download.svg" %}" id="downloadIcon">
		
	</div>

	<div class="btns">
		<button class="btn" id="saveBtn">Save</button>
		<button class="btn" id="yourRecipesBtn">Your Recipes</button>
	</div>

	{% load static %}
	<script src="{% static "random recipes/scripts/RECIPES.js" %}"></script>
	{% load static %}
	<script src="{% static "random recipes/scripts/main.js" %}"></script>
</body>

