{% extends 'main_template.html' %} 
{% block 'title' %}Carl Riis | About me{% endblock %}

{% block 'body' %}

<div class="page-body">

	<h1 class="title">About me</h1>

	<p id="skill-description">I’m 16 years old and from Odense Denmark. I’m a self taught programmer who loves learning and creating.</p>

	<div id="skills">
		<h2>Skills:</h2>
		<ul id="categories">
			<li>
			<ul>
				<h3>Backend:</h3>
				<li><p>Java</p></li>
				<li><p>Python</p></li>
				<li><p> Django</p></li>
			</ul>
			</li>
			<li>
			<ul>
				<h3>Frontend:</h3>
				<li><p>Javascript</p></li>
				<li><p>HTML</p></li>
				<li><p>CSS</p></li>
			</ul>
			</li>
			<li>
			<ul>
				<h3>Other:</h3>
				<li><p>SQLite</p></li>
				<li><p>Linux</p></li>
				<li><p>Git/GitHub</p></li>
			</ul>
			</li>
		</ul>
	</div>

</div>

{% endblock %}