{% extends 'main_template.html' %} 
{% block 'title' %}Carl Riis | About me{% endblock %}

{% block 'body' %}

<div class="page-body">

	<h1 class="title">About me</h1>

	<p id="skill-description">I’m 16 years old and from Odense Denmark. I’m a self taught programmer who loves learning and creating.</p>

	<div id="skills">
		<h2 id="skills-title">Skills:</h2>
		<ul id="categories">
			<li>
			<ul>
				<h3 class="skill-title">Backend:</h3>
				<li><p class="skill">Java</p></li>
				<li><p class="skill">Python</p></li>
				<li><p class="skill"> Django</p></li>
			</ul>
			</li>
			<li>
			<ul>
				<h3 class="skill-title">Frontend:</h3>
				<li><p class="skill">Javascript</p></li>
				<li><p class="skill">HTML</p></li>
				<li><p class="skill">CSS</p></li>
			</ul>
			</li>
			<li>
			<ul>
				<h3 class="skill-title">Other:</h3>
				<li><p class="skill">SQLite</p></li>
				<li><p class="skill">Linux</p></li>
				<li><p class="skill">Git/GitHub</p></li>
			</ul>
			</li>
		</ul>
	</div>

</div>

{% endblock %}