{% extends 'main_template.html' %} 
{% block 'title' %}Carl Riis | Projects{% endblock %}

{% block 'body' %}
<div class="page-body">
	<h1 class="title projects-title">Projects</h1>

	{% for project in projects %}
		<div class="project">
			<h2 class="project-title">{{project.title}}</h2>
			<p class="project-description">{{project.description}}</p>
			<img src="{{project.image.url}}" alt="" class="project-image">
			<br>
			<a href="{{project.github_link}}" target="_blank" class="button git-button small-button">GitHub</a>
			{% if project.link %}
			<a href="{{project.link}}" target="_blank" class="button small-button">Visit</a>
			{% endif %}

		</div>
	{% endfor %}
</div>
{% endblock %}