{% extends 'main_template.html' %} 
{% block 'title' %}Carl Riis | Projects{% endblock %}

{% block 'body' %}
<div class="page-body">
	<p>Below are my projects:</p>
	{% for project in projects %}
		<div class="project">
			<h2>{{project.title}}</h2>
			<p>{{project.description}}</p>
			<a href="{{project.github_link}}" target="_blank" class="button">GitHub</a>
			{% if project.link %}
			<a href="{{project.link}}" target="_blank" class="button">Visit</a>
			{% endif %}

			<img src="{{project.image.url}}" alt="">

		</div>
	{% endfor %}
</div>
{% endblock %}